{% extends "cms.html" %}


{% block main %}

<div class="row">

  <ul class="collapsible col s12" data-collapsible="accordion">

      <!-- ================================ -->
      <!-- Home Description -->
      <!-- ================================ -->

      <li>
        <div class="collapsible-header center">Slideshow Images</div>
        <div class="collapsible-body">

          <form id="image_gallery_form" class="ajax-form-image-gallery image-gallery-form" method="post" action="/admin/save_single_image/new" enctype="multipart/form-data">

            <div class="row">
                <div class="col s12 center preview-image-container">

                </div>
            </div>

            <div id="image_gallery_form_section">
              <div class="row">

                <input type="hidden" name="label" value="home_banner">

                <div class="input-field col s12">
                  <input id="caption" type="text" name="caption" class="validate" value="">
                  <label for="caption">Caption</label>
                </div>
              </div>

              <div class="input-field col s12">
                <select name="tag">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="right-align">Right Align</option>
                  <option value="left-align">Left Align</option>
                  <option value="center-align">Center</option>
                </select>
                <label>Align Caption</label>
              </div>

              <div class="col s12">
                  <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input type="file" name="image">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Gallery Image">
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="input-field col s12">
                <button class="btn">
                  <div class="loader-icon hide transition">
                    <i class="fa fa-spinner fa-spin"></i>
                  </div>
                  <div class="loader-success hide transition">
                    <i class="fa fa-check icon-green"></i>
                  </div>
                  <div class="loader-error hide transition">
                    <i class="fa fa-exclamation icon-red"></i>
                  </div>
                  Save
                </button>
              </div>
            </div>

          </form>

          {% for g in gallery_images %}

            <form id="gallery_image_{{g.key.id()}}" class="ajax-form-image-gallery image-gallery-form" method="post" action="/admin/save_single_image/{{g.key.id()}}" enctype="multipart/form-data" style="margin-top: 3rem;">

              <div class="row">
                <div class="col s12 center preview-image-container">
                  <img src="{{g.image}}" class="preview-image">
                </div>
              </div>


              <div id="image_gallery_form_section">
                <div class="row">

                  <input type="hidden" name="label" value="home_banner">

                <div class="input-field col s12">
                    <input id="caption" type="text" name="caption" class="validate" value="{{g.caption}}">
                    <label for="caption">Caption</label>
                  </div>
                </div>

                <div class="input-field col s12">
                  <select name="tag">
                    {% if g.tag %}
                      <option value="{{g.tag}}">{{g.tag|capitalize}}</option>
                    {% else %}
                       <option value="" disabled selected>Choose your option</option>
                    {% endif %}
                    <option value="right-align">Right Align</option>
                    <option value="left-align">Left Align</option>
                    <option value="center-align">Center</option>
                  </select>
                  <label>Align Caption</label>
                </div>

                <div class="col s12">
                    <div class="file-field input-field">
                    <div class="btn">
                      <span>File</span>
                      <input type="file" name="image">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Gallery Image">
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="input-field col s12">
                  <button class="btn">
                    <div class="loader-icon hide transition">
                      <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <div class="loader-success hide transition">
                      <i class="fa fa-check icon-green"></i>
                    </div>
                    <div class="loader-error hide transition">
                      <i class="fa fa-exclamation icon-red"></i>
                    </div>
                    Save
                  </button>
                </div>
              </div>

              <div class="row">
                <div class="col s12 right-align">
                  <div class="btn delete-image" data-imageid="{{g.key.id()}}">
                    Delete
                  </div>
                  <!-- <div class="btn" onclick="confirmDelete({{g.key.id()}})">
                    Delete
                  </div>
                  <div id="confirm_{{g.key.id()}}" class="confirm button-fold-in overflow-hidden">
                    <span data-delete-id="{{g.key.id()}}" class="btn delete">Yes, I'm sure</span> <span class="btn" onclick="cancelDelete({{g.key.id()}})">Cancel</span>
                  </div> -->
                </div>
              </div>

            </form>

          {% endfor %}

        </div>
      </li>

      <li>
        <div class="collapsible-header center">Content Section 1</div>
        <div class="collapsible-body">
          <form class="ajax-form-content" method="post" action="/admin/save_content" enctype="multipart/form-data">

            <div class="row">
              <div class="input-field col s12">
                <input id="title" type="text" name="title" class="validate" value="{{content['homeColumn1'].title|check_none}}">
                <label for="title">Column Title</label>
              </div>
            </div>

            <div class="row" style="margin-top: 3rem;">
              <div class="input-field col s12">
                <textarea id="text" name="text" class="materialize-textarea">{{content['homeColumn1'].text|check_none}}</textarea>
                <label for="text">Text</label>
              </div>
            </div>

            {% if content['homeColumn1'] %}
              <input type="hidden" name="content_id" value="{{content['homeColumn1'].key.id()}}">
            {% endif %}
            <input type="hidden" name="label" value="homeColumn1">

            <div class="row">
              <div class="input-field col s12">
                <button class="btn">
                  <div class="loader-icon hide transition">
                    <i class="fa fa-spinner fa-spin"></i>
                  </div>
                  <div class="loader-success hide transition">
                    <i class="fa fa-check icon-green"></i>
                  </div>
                  <div class="loader-error hide transition">
                    <i class="fa fa-exclamation icon-red"></i>
                  </div>
                  Save
                </button>
              </div>
            </div>

          </form>
        </div>
      </li>

      <li>
        <div class="collapsible-header center">Content Section 2</div>
        <div class="collapsible-body">
          <form class="ajax-form-content" method="post" action="/admin/save_content" enctype="multipart/form-data">

            <div class="row">
              <div class="input-field col s12">
                <input id="title" type="text" name="title" class="validate" value="{{content['homeColumn2'].title|check_none}}">
                <label for="title">Column Title</label>
              </div>
            </div>

            <div class="row" style="margin-top: 3rem;">
              <div class="input-field col s12">
                <textarea id="text" name="text" class="materialize-textarea">{{content['homeColumn2'].text|check_none}}</textarea>
                <label for="text">Text</label>
              </div>
            </div>

            {% if content['homeColumn2'] %}
              <input type="hidden" name="content_id" value="{{content['homeColumn2'].key.id()}}">
            {% endif %}
            <input type="hidden" name="label" value="homeColumn2">

            <div class="row">
              <div class="input-field col s12">
                <button class="btn">
                  <div class="loader-icon hide transition">
                    <i class="fa fa-spinner fa-spin"></i>
                  </div>
                  <div class="loader-success hide transition">
                    <i class="fa fa-check icon-green"></i>
                  </div>
                  <div class="loader-error hide transition">
                    <i class="fa fa-exclamation icon-red"></i>
                  </div>
                  Save
                </button>
              </div>
            </div>

          </form>
        </div>
      </li>

      <li>
        <div class="collapsible-header center">Content Section 3</div>
        <div class="collapsible-body">
          <form class="ajax-form-content" method="post" action="/admin/save_content" enctype="multipart/form-data">

            <div class="row">
              <div class="input-field col s12">
                <input id="title" type="text" name="title" class="validate" value="{{content['homeColumn3'].title|check_none}}">
                <label for="title">Column Title</label>
              </div>
            </div>

            <div class="row" style="margin-top: 3rem;">
              <div class="input-field col s12">
                <textarea id="text" name="text" class="materialize-textarea">{{content['homeColumn3'].text|check_none}}</textarea>
                <label for="text">Text</label>
              </div>
            </div>

            {% if content['homeColumn3'] %}
              <input type="hidden" name="content_id" value="{{content['homeColumn3'].key.id()}}">
            {% endif %}
            <input type="hidden" name="label" value="homeColumn3">

            <div class="row">
              <div class="input-field col s12">
                <button class="btn">
                  <div class="loader-icon hide transition">
                    <i class="fa fa-spinner fa-spin"></i>
                  </div>
                  <div class="loader-success hide transition">
                    <i class="fa fa-check icon-green"></i>
                  </div>
                  <div class="loader-error hide transition">
                    <i class="fa fa-exclamation icon-red"></i>
                  </div>
                  Save
                </button>
              </div>
            </div>

          </form>
        </div>
      </li>

      <li>
        <div class="collapsible-header center">Content Section 4</div>
        <div class="collapsible-body">
          <form class="ajax-form-content" method="post" action="/admin/save_content" enctype="multipart/form-data">

            <div class="row">
              <div class="input-field col s12">
                <input id="title" type="text" name="title" class="validate" value="{{content['homeColumn4'].title|check_none}}">
                <label for="title">Column Title</label>
              </div>
            </div>

            <div class="row" style="margin-top: 3rem;">
              <div class="input-field col s12">
                <textarea id="text" name="text" class="materialize-textarea">{{content['homeColumn4'].text|check_none}}</textarea>
                <label for="text">Text</label>
              </div>
            </div>

            {% if content['homeColumn4'] %}
              <input type="hidden" name="content_id" value="{{content['homeColumn4'].key.id()}}">
            {% endif %}
            <input type="hidden" name="label" value="homeColumn4">

            <div class="row">
              <div class="input-field col s12">
                <button class="btn">
                  <div class="loader-icon hide transition">
                    <i class="fa fa-spinner fa-spin"></i>
                  </div>
                  <div class="loader-success hide transition">
                    <i class="fa fa-check icon-green"></i>
                  </div>
                  <div class="loader-error hide transition">
                    <i class="fa fa-exclamation icon-red"></i>
                  </div>
                  Save
                </button>
              </div>
            </div>

          </form>
        </div>
      </li>

  </ul>

</div>


{% endblock %}

{% block script %}
<script>
  $('body').on('click', '.delete-image', function(){
    var $this = $(this);
    var imageID = $this.data('imageid');

    function success(){
      $('#gallery_image_'+imageID).remove();
    }

    console.log("imageID: " + imageID);
    $.ajax({
      type: 'post',
      url: '/admin/delete_single_image/'+imageID,
      success: success
    }).fail(function(){
      alert('could not delete image');
    })
  });
</script>
{% endblock %}
