<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Aandewijnlanden</title>

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic&Josefin+Slab:300' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="/static/font/font-awesome/css/font-awesome.min.css">

  <!-- Medium Editor -->
  <link rel="stylesheet" href="/static/admin/medium-editor/dist/css/medium-editor.min.css">

  <!-- CSS  -->
  <link href="/static/stylesheets/materializecms.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<header>
  <ul id="slide-out" class="side-nav">
    <li><a href="/admin/erf">Erf Management</a></li>
    <li><a href="/admin/documents">Upload Documents</a></li>
    <li><a href="/admin/gallery">Gallery</a></li>
  </ul>
  <a id="nav-slide-out-icon" href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
</header>
<main>
  <div class="container">
    <div id="main" class="section scrollspy">
      <div class="row">
        <div class="col s12 m12 l12">
          {% block main %}
            <h5>Quick links</h5>
            <div class="row">
              <div class="col s12">
                <a href="/admin/erf" class="waves-effect waves-light btn">Manage Erfs</a>
                <a href="/admin/emails" class="waves-effect waves-light btn">Emails</a>
                <a href="/admin/documents" class="waves-effect waves-light btn">Upload a Document</a>
              </div>
            </div>

            <h5>Basic Stats</h5>
            <div class="row">
              <div class="card s12 blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Emails</span>
                  <p>{{counter.emails}}</p>
                </div>
              </div>
            </div>
          {% endblock %}
        </div>

      </div>

    </div>
  </div>
</main>

  <footer class="page-footer grey darken-2 text-white">
    <div class="container center">
      <!-- <div class="row">
        <div class="col l12 m12 s12">
          <div class="white-text">The footer</div>
        </div>
      </div> -->

    </div>
    <div class="footer-copyright">
      <div class="container center">
      &copy; emile.me {{year}}
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.min.js"></script>
  <script src="/static/admin/medium-editor/dist/js/medium-editor.min.js"></script>
  <script src="/static/js/cmsinit.js"></script>
  <script src="/static/js/ajax.js"></script>

  {% block script %}

  {% endblock %}

  </body>
</html>
