{% extends "index.html" %}

{% block header %}
<header>

  <div class="navbar-fixed">
    <!-- <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img src="/static/img/adw_logo.jpg"> <span class="hide-on-small-only">Aan de Wijnlanden</span></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/plans_prices">Prices & Plans</a></li>
          <li><a href="/location">Location</a></li>
          <li><a href="/information">Information</a></li>
          <li class="active"><a href="/documentation">Documentation</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav> -->
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="/static/img/adw_logo.jpg"> <span class="hide-on-med-and-down">Aan de Wijnlanden</span></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="/p2/plans_prices">Prices & Plans</a></li>
          <li><a href="/location">Location</a></li>
          <li><a href="/progress">Progress</a></li>
          <li><a href="/p2/information">Information</a></li>
          <!-- <li><a href="/client_choices">Client Choices</a></li>-->
          <li><a href="/p2/documentation">Documentation</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
          <li><a href="/p2/plans_prices">Prices & Plans</a></li>
          <li><a href="/location">Location</a></li>
          <li><a href="/progress">Progress</a></li>
          <li><a href="/p2/information">Information</a></li>
          <!-- <li><a href="/client_choices">Client Choices</a></li>-->
          <li><a href="/p2/documentation">Documentation</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  </div>

</header>
{% endblock %}

{% block main %}

<div class="row container">
	<div class="col s12 center">
		<h2>Documentation</h2>
		<p>
			<!-- This is the documentation you need to download, print, read, sign and return to us by email, fax or post. -->
      Important documentation for Aan de Wijnlanden Phase 2.
		</p>
	</div>
</div>

</div>

<div class="row container spaced">
	<div class="col s12 m6 offset-m3 center">
		{% for d in documents %}
			<div class="card {% if d.isClientChoice %}hidden{% endif %}">
				<div class="card-content">
					<h4>{{d.name}}</h4>
					<p>{{d.description|safe}}</p>
				</div>
				<div class="card-action">
					<a href="{{d.download_link}}" class="no-border" target="_blank"> <i class="fa fa-download"></i> Download</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
