{% extends "index.html" %}

{% block header %}
<header>

  <div class="navbar-fixed">
    <!-- <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img src="/static/img/adw_logo.jpg"> <span class="hide-on-small-only">Aan de Wijnlanden</span></a>
        <ul class="right hide-on-med-and-down">
          <li class="active"><a href="/plans_prices">Prices & Plans</a></li>
          <li><a href="/location">Location</a></li>
          <li><a href="/information">Information</a></li>
          <li><a href="/documentation">Documentation</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav> -->
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="/static/img/adw_logo.jpg"> <span class="hide-on-med-and-down">Aan de Wijnlanden</span></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li class="active"><a href="/plans_prices">Prices & Plans</a></li>
          <li><a href="/location">Location</a></li>
          <li><a href="/progress">Progress</a></li>
          <li><a href="/information">Information</a></li>
          <li><a href="/client_choices">Client Choices</a></li>
          <li><a href="/documentation">Documentation</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
          <li class="active"><a href="/plans_prices">Prices & Plans</a></li>
          <li><a href="/location">Location</a></li>
          <li><a href="/progress">Progress</a></li>
          <li><a href="/information">Information</a></li>
          <li><a href="/client_choices">Client Choices</a></li>
          <li><a href="/documentation">Documentation</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  </div>

</header>
{% endblock %}

{% block main %}

<div class="row container">
		<div class="col s12 center">
			<h2>Plans & Prices</h2>
			<h5>Click on a stand to see the plan or use the table below</h5>
		</div>
	</div>

	<div id="image-map-container-row" class="row hide-on-small-only">
		<div class="col s12 image-map-container">
			<i id="my_location" class="material-icons">my_location</i>
			<img id="site_plan" src="/static/img/cropped_plan_edit.png" usemap="#erf-map" border="0" width="100%" onload="imageMapResize()">

			<map id="erf-map" name="erf-map">
				<area shape="circle" alt="1" title="1" coords="786,1748,28" href="1" target="" />
				<area shape="circle" alt="2" title="" coords="749,1669,21" href="2" target="" />
				<area shape="circle" alt="4" title="4" coords="680,1530,28" href="4" target="" />
				<area shape="circle" alt="5" title="5" coords="648,1456,26" href="5" target="" />
				<area shape="circle" alt="6" title="6" coords="622,1392,30" href="6" target="" />
				<area shape="circle" alt="7" title="7" coords="591,1317,29" href="7" target="" />
				<area shape="circle" alt="3" title="3" coords="724,1600,30" href="3" target="" />
				<area shape="circle" alt="8" title="8" coords="770,1324,34" href="8" target="" />
				<area shape="circle" alt="9" title="9" coords="861,1309,31" href="9" target="" />
				<area shape="circle" alt="10" title="10" coords="927,1273,33" href="10" target="" />
				<area shape="circle" alt="11" title="11" coords="1017,1241,31" href="11" target="" />
				<area shape="circle" alt="12" title="12" coords="1098,1204,30" href="12" target="" />
				<area shape="circle" alt="13" title="13" coords="1173,1171,31" href="13" target="" />
				<area shape="circle" alt="14" title="14" coords="1251,1139,35" href="14" target="" />
				<area shape="circle" alt="15" title="15" coords="1336,1102,34" href="15" target="" />
				<area shape="circle" alt="16" title="16" coords="1421,1081,33" href="16" target="" />
				<area shape="circle" alt="40" title="" coords="1487,1045,29" href="40" target="" />
				<area shape="circle" alt="41" title="" coords="1576,1008,36" href="41" target="" />
				<area shape="circle" alt="42" title="" coords="1641,935,39" href="42" target="" />
				<area shape="circle" alt="43" title="" coords="1703,871,33" href="43" target="" />
				<area shape="circle" alt="44" title="" coords="1768,806,36" href="44" target="" />
				<area shape="circle" alt="45" title="" coords="1851,753,35" href="45" target="" />
				<area shape="circle" alt="46" title="" coords="1916,822,32" href="46" target="" />
				<area shape="circle" alt="47" title="" coords="1978,888,32" href="47" target="" />
				<area shape="circle" alt="48" title="" coords="1987,969,31" href="48" target="" />
				<area shape="circle" alt="49" title="" coords="2018,1040,30" href="49" target="" />
				<area shape="circle" alt="50" title="" coords="2055,1115,31" href="50" target="" />
				<area shape="circle" alt="51" title="" coords="2087,1165,27" href="51" target="" />
				<area shape="circle" alt="56" title="" coords="1829,1011,33" href="56" target="" />
				<area shape="circle" alt="55" title="" coords="1738,1060,30" href="55" target="" />
				<area shape="circle" alt="54" title="" coords="1733,1161,29" href="54" target="" />
				<area shape="circle" alt="57" title="" coords="1842,1114,28" href="57" target="" />
				<area shape="circle" alt="53" title="" coords="1771,1215,29" href="53" target="" />
				<area shape="circle" alt="58" title="" coords="1877,1161,25" href="58" target="" />
				<area shape="circle" alt="52" title="" coords="1793,1303,29" href="52" target="" />
				<area shape="circle" alt="59" title="" coords="1910,1246,34" href="59" target="" />
				<area shape="circle" alt="39" title="" coords="1527,1153,27" href="39" target="" />
				<area shape="circle" alt="17" title="17" coords="1420,1208,28" href="17" target="" />
				<area shape="circle" alt="38" title="" coords="1559,1235,33" href="38" target="" />
				<area shape="circle" alt="18" title="18" coords="1445,1283,31" href="18" target="" />
				<area shape="circle" alt="19" title="19" coords="1490,1338,30" href="19" target="" />
				<area shape="circle" alt="37" title="" coords="1582,1308,28" href="37" target="" />
				<area shape="circle" alt="20" title="20" coords="1515,1423,31" href="20" target="" />
				<area shape="circle" alt="36" title="" coords="1623,1361,27" href="36" target="" />
				<area shape="circle" alt="29" title="" coords="1291,1319,33" href="29" target="" />
				<area shape="circle" alt="30" title="" coords="1301,1425,29" href="30" target="" />
				<area shape="circle" alt="31" title="" coords="1335,1503,29" href="31" target="" />
				<area shape="circle" alt="28" title="28" coords="1219,1349,33" href="28" target="" />
				<area shape="circle" alt="27" title="27" coords="1138,1388,34" href="27" target="" />
				<area shape="circle" alt="26" title="26" coords="1069,1419,33" href="26" target="" />
				<area shape="circle" alt="25" title="25" coords="1002,1446,32" href="25" target="" />
				<area shape="circle" alt="24" title="24" coords="920,1476,34" href="24" target="" />
				<area shape="circle" alt="23" title="23" coords="850,1512,30" href="23" target="" />
				<area shape="circle" alt="33" title="" coords="1175,1485,29" href="33" target="" />
				<area shape="circle" alt="32" title="" coords="1232,1548,30" href="32" target="" />
				<area shape="circle" alt="34" title="" coords="1035,1543,31" href="34" target="" />
				<area shape="circle" alt="35" title="" coords="1064,1628,32" href="35" target="" />
				<area shape="circle" alt="22" title="22" coords="920,1596,34" href="22" target="" />
				<area shape="circle" alt="21" title="21" coords="954,1654,28" href="21" target="" />
				<area shape="circle" alt="60" title="" coords="2192,1104,30" href="60" target="" />
				<area shape="circle" alt="61" title="" coords="2163,1045,31" href="61" target="" />
				<area shape="circle" alt="62" title="" coords="2129,963,27" href="62" target="" />
				<area shape="circle" alt="63" title="" coords="2092,902,28" href="63" target="" />
				<area shape="circle" alt="64" title="" coords="2066,840,30" href="64" target="" />
				<area shape="circle" alt="65" title="" coords="2027,759,27" href="65" target="" />
				<area shape="circle" alt="66" title="" coords="1976,706,32" href="66" target="" />
				<area shape="circle" alt="67" title="" coords="1910,654,30" href="67" target="" />
				<area shape="circle" alt="68" title="" coords="2144,668,38" href="68" target="" />
				<area shape="circle" alt="69" title="" coords="2199,601,31" href="69" target="" />
				<area shape="circle" alt="70" title="" coords="2259,541,33" href="70" target="" />
				<area shape="circle" alt="71" title="" coords="2308,484,30" href="71" target="" />
				<area shape="circle" alt="72" title="" coords="2391,401,33" href="72" target="" />
				<area shape="circle" alt="73" title="" coords="2447,443,27" href="73" target="" />
				<area shape="circle" alt="74" title="" coords="2468,532,30" href="74" target="" />
				<area shape="circle" alt="75" title="" coords="2503,607,31" href="75" target="" />
				<area shape="circle" alt="76" title="" coords="2543,685,33" href="76" target="" />
				<area shape="circle" alt="77" title="" coords="2580,770,32" href="77" target="" />
				<area shape="circle" alt="78" title="" coords="2611,845,33" href="78" target="" />
				<area shape="circle" alt="79" title="" coords="2647,913,29" href="79" target="" />
				<area shape="circle" alt="80" title="" coords="2363,1049,33" href="80" target="" />
				<area shape="circle" alt="81" title="" coords="2320,978,34" href="81" target="" />
				<area shape="circle" alt="82" title="" coords="2284,906,32" href="82" target="" />
				<area shape="circle" alt="83" title="" coords="2238,824,30" href="83" target="" />
				<area shape="circle" alt="84" title="" coords="2309,781,23" href="84" target="" />
				<area shape="circle" alt="85" title="" coords="2382,756,32" href="85" target="" />
				<area shape="circle" alt="86" title="" coords="2411,859,43" href="86" target="" />
				<area shape="circle" alt="87" title="" coords="2441,937,37" href="87" target="" />
				<area shape="circle" alt="88" title="" coords="2475,1007,33" href="88" target="" />
				<area shape="circle" alt="89" title="" coords="2893,795,35" href="89" target="" />
				<area shape="circle" alt="90" title="" coords="2978,760,26" href="90" target="" />
				<area shape="circle" alt="91" title="" coords="3055,729,29" href="91" target="" />
				<area shape="circle" alt="92" title="" coords="3128,702,34" href="92" target="" />
				<area shape="circle" alt="93" title="" coords="3040,612,30" href="93" target="" />
				<area shape="circle" alt="94" title="" coords="2955,637,29" href="94" target="" />
				<area shape="circle" alt="95" title="" coords="2869,659,25" href="95" target="" />
				<area shape="circle" alt="96" title="" coords="2801,535,29" href="96" target="" />
				<area shape="circle" alt="97" title="" coords="2916,490,30" href="97" target="" />
				<area shape="circle" alt="98" title="" coords="2866,424,28" href="98" target="" />
				<area shape="circle" alt="99" title="" coords="2825,347,31" href="99" target="" />
				<area shape="circle" alt="100" title="" coords="2743,399,27" href="100" target="" />
				<area shape="circle" alt="101" title="" coords="2646,168,32" href="101" target="" />
				<area shape="circle" alt="102" title="" coords="2705,103,33" href="102" target="" />
			</map>
			<!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) -->

		</div>
	</div>

	<div class="row container">
		<div class="col s12 center">
			<h2>Stand and Package Prices</h2>
			<p>or see an <a class="animate-scroll" href="#list_of_plans">overview of all plans</a></p>
		</div>
	</div>

	<div class="row container">
		<div class="col s12">

			<table class="striped">
		        <thead>
		          <tr>
		              <th data-field="erf_number">Stand Number</th>
		              <th data-field="size">Stand Size</th>
		              <th data-field="price">Stand Price</th>
		              <th data-field="type">Plan Type</th>
		              <th data-field="package_price">Total Package Price</th>
		          </tr>
		        </thead>

		        <tbody>
		          {% for e in erfs %}
			          <tr class="erf-row" data-erf-number="{{e.erf_number|check_none}}">
			            <td>{{e.erf_number|check_none}} {% if e.status %} - {{e.status}}{% endif %}</td>
			            <td>
			            	{{e.size|check_none}}
			            </td>
			            <td>
			            	{{e.price|check_none}}
			            </td>
			            <td>
			            	{% if e.plan_type %}
			            		<!-- <a class="modal-trigger" href="#modal_{{e.plan_type.id()}}">{{e.plan_name|check_none}}</a> -->
			            		<button data-target="modal_{{e.plan_type.id()}}" class="btn modal-trigger track-erf-click" data-erf-number="{{e.erf_number|check_none}}">{{e.plan_name|check_none}}</button>
			            	{% else %}
			            		-
			            	{% endif %}
			            </td>
			            <td>
			            	{{e.turnkey_price|check_none}}
			            </td>
			          </tr>
		          {% endfor %}
		        </tbody>
		      </table>

		</div>
	</div>

	<div id="list_of_plans" class="row center scrollspy">
		<div class="col s12">
			<h2>List of Available Plans</h2>
		</div>
	</div>

	<div class="row container">
		{% for p in plan_types %}
			<div class="col s12 m6 l4">
				<div class="card">
					<div class="card-image">
						<img src="{{p.image}}=s1000" class="materialboxed">
					</div>
					<div class="card-content">
						<h5 class="truncate">{{p.name}}</h5>
						<p class="truncate">{{p.description}}</p>
					</div>
					<div class="card-action center">
						<a href="{{p.download_link}}" class="no-border" target="_blank"> <i class="fa fa-download"></i> Download</a>
					</div>
				</div>
			</div>
	  	{% endfor %}
	</div>

	{% for p in plan_types %}
		<div id="modal_{{p.key.id()}}" class="modal modal-fixed-header">
		    <div class="modal-content">
		      <h4>{{p.name}}</h4>
		      <p>{{p.description}}</p>
		    </div>
		    <div style="overflow-y:auto;" class="center">
		    	<img src="{{p.image}}=s1500" class="responsive-img">
		    </div>
		    <div class="modal-footer">
		      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		    </div>
	  	</div>
  	{% endfor %}

{% endblock %}


{% block script %}
	
	<script type="text/javascript">
		/* call iamge map resizer */
		$(document).ready(function() {
		    $('map').imageMapResize();
		    $( 'map' ).trigger( "resize" );
		    imageMapResize();
		});
		$('map').imageMapResize();
	    $( 'map' ).trigger( "resize" );
	    imageMapResize();


		$("body").on("click", "area", function(e){
			e.preventDefault();
			var erf_number = $(this).attr("href");
			//alert($(this).attr("href"));
			//$('#modal_4923613069180928').openModal();

			function success(data){
				console.log(data);
				if( data["id"] ){
					$('#modal_'+data["id"]).openModal();
				};
			};

			$.ajax({
				url: "/plan/erf/"+erf_number,
				type: "get",
				success: success
			}).fail(function(){
				console.log("fail...")
			});

		});

		$("body").on("click", ".track-erf-click", function(){
			var erf_number = $(this).data("erf-number");
			function success(){
				console.log("tracked click");
			};

			$.ajax({
				url: "/erf/track/"+erf_number,
				type: "get",
				success: success
			}).fail(function(){
				console.log("fail...");
			});
		});

		/*$(".animate-scroll").click(function(e) {
			e.preventDefault();
			var href = $(this).attr("href");
			console.log(href);
		    $('html, body').animate({
		        scrollTop: $(href).offset().top
		    }, 2000);
		});*/

		//3827 x 2138

		/*$("body").on("click", ".erf-row", function(){
			var erf_number = $(this).data("erf-number");
			var coords = $("area[alt='"+erf_number+"']").attr("coords");

			console.log(erf_number);
			console.log(coords);

			var image_width = $("#site_plan").width();
			var image_height = $("#site_plan").height();

			var y_fr = image_height / 2138;
			var x_fr = image_width / 3827;

			console.log("fr height: "+ image_height);


			var top = coords.split(",")[0];
			var left = coords.split(",")[1];

			var fr_left = ( left * x_fr ) + 15;
			var fr_top = ( top * y_fr + 15);

			console.log("left ", left);
			console.log(fr_left);
			console.log("top ", top);
			console.log(fr_top);

			$("#my_location").css("left", fr_left+"px");
			$("#my_location").css("bottom", fr_top+"px");


			alert("coords: "+$("area[alt='"+erf_number+"']").attr("coords"));
			//$('#modal1').openModal();
		});*/

		$(document).ready(function() {
		    $('map').imageMapResize();
		    $( 'map' ).trigger( "resize" );
		    imageMapResize();
		});
		$('map').imageMapResize();
	    $( 'map' ).trigger( "resize" );
	    imageMapResize();

	</script>

{% endblock %}










